<h1>Animals</h1>

<% if @animals.any? %>
<ul>
  <% @animals.each do |animal| %>
  <li><%= link_to animal.species, animal_path(animal) %></li>
  <% end %>
</ul>
<% else %>
<p>There are no animals yet.</p>
<% end %>


<p><%= link_to "Create new animal", new_animal_path %></p>
<p><%= link_to "Create new region", new_region_path %></p>
<p><%= link_to "See all regions", regions_path %></p>
