<h1><%= @region.location %></h1>

<p><%= link_to "Edit", edit_region_path(@region) %></p>
<p><%= link_to "Delete region", region_path(@region),
                        :data => {:confirm => "Are you sure?",
                                       :method => "delete"} %></p>

<p><%= link_to "Return to regions", regions_path %></p>
